# Use this as a template to get notifications working
# Step 1: Copy this file to `keys.env`
# Step 2: Edit the contents of `keys.env` with your settings

# Pushover - https://pushover.net/
PUSHOVER_APP_TOKEN = 
PUSHOVER_USER_KEY = 

# Slack - https://api.slack.com/apps
SLACK_WEBHOOK_URL = 

# Debug - (uncomment to show verbose logs)
#NOTIFY_DEBUG=1
