UID = "{{ UID }}"
GID = "{{ GID }}"
TYPE = "PAPER"
EULA = "true"
SERVER_NAME = "{{ SERVER_NAME }}"
SEED = "{{ SEED }}"
MODE = "{{ MODE }}"
RCON = "true"
RCON_PASSWORD = "{{ RCON_PASSWORD }}"
MODRINTH_PROJECTS = "coreprotect,dynmap"

